@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
* {
  transition: all 100ms;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 32px;
}

.page {
  min-height: 800px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 32px;
  font-family: "League Spartan";
}
.page--first {
  background-color: hsl(222deg, 26%, 31%);
}
.page--second {
  background-color: hsl(0deg, 0%, 90%);
}
.page--second .header {
  color: black;
}
.page--third {
  background-color: hsl(268deg, 75%, 9%);
}

.header {
  margin-top: 50px;
  min-height: 100px;
  height: 10%;
  color: hsl(0deg, 0%, 100%);
  width: 40%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header__switcher {
  align-items: flex-end;
  display: flex;
  gap: 15px;
}
.header__numbers {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}
.header__bar {
  width: 100%;
  min-width: 200px;
  background-color: hsl(223deg, 31%, 20%);
  height: 32px;
  border-radius: 15px;
  position: relative;
  transition: all 200ms;
}
.header__bar--second {
  background-color: white;
}
.header__point {
  transition: all 200ms;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: hsl(25deg, 98%, 40%);
  position: absolute;
  top: 2px;
  left: 0;
}
.header__point--left {
  left: 5%;
}
.header__point--middle {
  left: 45%;
}
.header__point--right {
  left: 80%;
}
.header__number:hover {
  cursor: pointer;
}

.main {
  width: 40%;
  border-radius: 15px;
  color: hsl(0deg, 0%, 100%);
  padding: 30px;
  height: 20%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.main__output {
  font-size: 2rem;
}
.main--first {
  background-color: hsl(224deg, 36%, 15%);
}
.main--second {
  background-color: hsl(0deg, 0%, 93%);
  color: black;
}
.main--third {
  background-color: hsl(268deg, 71%, 12%);
}

.footer {
  margin-bottom: 50px;
  border-radius: 25px;
  color: hsl(0deg, 0%, 100%);
  width: 40%;
  padding: 30px;
}
.footer--first {
  background-color: hsl(223deg, 31%, 20%);
}
.footer--second {
  background-color: hsl(0deg, 5%, 81%);
}
.footer--third {
  background-color: hsl(268deg, 71%, 12%);
}
.footer__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.footer__button {
  border-radius: 12px;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(221deg, 14%, 31%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  box-shadow: 0px 5px hsl(28deg, 16%, 65%);
}
.footer__button:hover {
  cursor: pointer;
}
.footer__button--DEL {
  background-color: hsl(225deg, 21%, 49%);
  box-shadow: 0px 5px hsl(224deg, 28%, 35%);
  color: hsl(0deg, 0%, 100%);
}
.footer__button--RESET {
  width: 100%;
  background-color: hsl(225deg, 21%, 49%);
  box-shadow: 0px 5px hsl(224deg, 28%, 35%);
  color: hsl(0deg, 0%, 100%);
  grid-column: span 2;
}
.footer__button--EQUAL {
  width: 100%;
  background-color: hsl(6deg, 63%, 50%);
  box-shadow: 0px 5px hsl(6deg, 70%, 34%);
  color: hsl(0deg, 0%, 100%);
  grid-column: span 2;
}
.footer__button--2 {
  background-color: hsl(185deg, 42%, 37%);
  box-shadow: 0px 5px hsl(185deg, 58%, 25%);
}
.footer__button--22 {
  background-color: hsl(25deg, 98%, 40%);
  box-shadow: 0px 5px hsl(25deg, 99%, 27%);
}
.footer__button--3 {
  background-color: hsl(281deg, 89%, 26%);
  box-shadow: 0 5px hsl(285deg, 91%, 52%);
  color: white;
}
.footer__button--33 {
  background-color: hsl(268deg, 47%, 21%);
  box-shadow: 0 5px hsl(290deg, 70%, 36%);
}
.footer__button--333 {
  background-color: hsl(176deg, 100%, 44%);
  box-shadow: 0px 5px hsl(177deg, 92%, 70%);
}/*# sourceMappingURL=main.css.map */