@import 'variables';
$breakpoints: (
    xsmall: 'max-width: 500px',
    small: 'min-width: 500px',
    medium: 'min-width: 800px',
    large: 'min-width: 1024px',
    xlarge: 'min-width: 1200px',
    xxlarge: 'min-width: 1400px',
);
@mixin viewport($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);
    @if($size){
        @media (#{$size}){
            @content;
        }}
    @else{ 
        @error '"#{$breakpoint}" - I cannot identify this value';
}
    
}

*{
    transition: all 100ms;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: $font-size;
}
.page{
    min-height: 800px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: $font-size;
    font-family: $font-style;
    &--first{
        background-color: $main-bg;
    }
    &--second{
        background-color: $main-bg2;
        .header{
            color: black;
        }
    }
    &--third{
        background-color: $main-bg3;
    }
}

.header{
    margin-top: 50px;
    min-height: 100px;
    height: 10%;
    color: $white-key;
    width: 40%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    &__switcher{
        align-items: flex-end;
        display: flex;
        gap: 15px;
    }
    &__numbers{
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
    }
    &__bar{
        width: 100%;
        min-width: 200px;
        background-color: $keypad-bg;
        height: 32px;
        border-radius: 15px;
        position: relative;
        transition: all 200ms;
        &--second{
            background-color: white;
        }
    }
    &__point{
        transition: all 200ms;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: $key-red2;
        position: absolute;
        top: 2px;
        left: 0;
        &--left{
            left: 5%;
        }
        &--middle{
            left: 45%;
        }
        &--right{
            left: 80%;
        }
    }
    &__number:hover{
        cursor: pointer;
    }
}
.main{
    width: 40%;
    border-radius: 15px;
    color: $white-key;
    padding: 30px;
    height: 20%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: right;
    &__output{
        font-size: 2rem;
    }
    &--first{
        background-color: $screen-bg;
    }
    &--second{
        background-color: $screen-bg2;
        color: black;
    }
    &--third{
        background-color: $screen-bg3;
    }
}
.footer{
    margin-bottom: 50px;
    border-radius: 25px;
    color: $white-key;
    width: 40%;
    padding: 30px;
    &--first{
        background-color: $keypad-bg;
    }
    &--second{
        background-color: $keypad-bg2;
    }
    &--third{
        background-color: $keypad-bg3;
    }
    &__buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    &__button{
        border-radius: 12px;
        background-color: $white-key;
        color: $black-key;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        height: 50px;
        box-shadow: 0px 5px $key-blue-shadow;
        &:hover{
            cursor: pointer;
        }
        &--DEL{
            background-color: $key-bg;
            box-shadow: 0px 5px $key-shadow;
            color: $white-key;
        }
        &--RESET{
            width: 100%;
            background-color: $key-bg;
            box-shadow: 0px 5px $key-shadow;
            color: $white-key;
            grid-column: span 2;
        }
        &--EQUAL{
            width: 100%;
            background-color: $key-red;
            box-shadow: 0px 5px $key-red-shadow;
            color: $white-key;
            grid-column: span 2;
        }
        &--2{
            background-color: $key-bg2;
            box-shadow: 0px 5px $key-shadow2;
        }
        &--22{
            background-color: $key-red2;
            box-shadow: 0px 5px $key-red-shadow2;
        }
        &--3{
            background-color: $key-bg3;
            box-shadow: 0 5px $key-shadow3;
            color: white;
        }
        &--33{
            background-color: $key-blue3;
            box-shadow: 0 5px $key-blue-shadow3;
        }
        &--333{
            background-color: $key-red3;
            box-shadow: 0px 5px $key-red-shadow3;
        }


    }

}